[Unit]
Description=TFferm - Fermentation control
Documentation=https://github.com/hrafnkelle/tfbrew/wiki

[Service]
User=pi     # Set to correct user name if not pi
WorkingDirectory=%h/tfbrew
ExecStart=%h/tfbrew/.venv/bin/python %h/tfbrew/tfbrew.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

